  <h1 class="title is-5">Gold Game
    <button *ngIf="gameStarted" class="button is-info is-small is-light is-pulled-right" (click)="resetGame()">Recommencer</button>
  </h1>

<div class="box" *ngIf="!gameStarted">
  <h2 class="title is-4">Paramètres</h2>

  <div class="field mb-4">
    <label class="label">Flèches par volée :</label>
    <div class="field has-addons is-justify-content-center">
      <p class="control">
        <button class="button is-small" (click)="decrementFleches()">-</button>
      </p>
      <p class="control">
        <input class="input is-small has-text-centered" readonly [value]="arrowsPerEndCount" style="width: 60px;">
      </p>
      <p class="control">
        <button class="button is-small" (click)="incrementFleches()">+</button>
      </p>
    </div>
  </div>

  <div class="field mb-4">
    <label class="label">Nombre de volées :</label>
    <div class="field has-addons is-justify-content-center">
      <p class="control">
        <button class="button is-small" (click)="decrementVolees()">-</button>
      </p>
      <p class="control">
        <input class="input is-small has-text-centered" readonly [value]="endsCount" style="width: 60px;">
      </p>
      <p class="control">
        <button class="button is-small" (click)="incrementVolees()">+</button>
      </p>
    </div>
  </div>

  <div class="field mb-4">
    <label class="label">Zone de réussite :</label>
    <div class="field has-addons is-justify-content-center">
      <p class="control">
        <button class="button is-small" (click)="decrementZone()">-</button>
      </p>
      <p class="control">
        <input class="input is-small has-text-centered" readonly [value]="successZone" style="width: 60px;">
      </p>
      <p class="control">
        <button class="button is-small" (click)="incrementZone()">+</button>
      </p>
    </div>
  </div>

  <div class="has-text-centered mt-4">
    <button class="button is-primary" (click)="startGame()">Démarrer</button>
  </div>
</div>



<!-- Results -->
<div *ngIf="gameStarted" class="box content">
  <h2 class="subtitle is-5">Volées passées</h2>
  <table class="table is-fullwidth is-bordered is-striped is-narrow">
    <thead>
      <tr>
        <th>Volée</th>
        <th>Détails</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let end of pastEnds; index as i">
        <td>{{ i + 1 }}</td>
        <td>
          <span *ngFor="let s of end.details" class="tag m-1" [ngClass]="getScoreClass(s)">{{ s }}</span>
        </td>
        <td>{{ end.score }}</td>
      </tr>
      <tr *ngIf="pastEnds.length > 0">
        <td colspan="2">Total</td>
        <td>{{getTotalScore()}}</td>
      </tr>
    </tbody>
  </table>
  <span *ngIf="pastEnds.length > 0">({{getZonePercent()}} % en zone)</span>
  <br />
  <br />
  <!-- Current end -->
  <div *ngIf="gameStarted && !gameFinished">
    <h2 class="subtitle is-5">Volée {{ currentEndIndex + 1 }} / {{ endsCount }}</h2>
    <div>
      <span *ngFor="let s of currentEnd" class="tag m-1" [ngClass]="getScoreClass(s)">{{ s }}</span>
    </div>
    <div class="has-text-centered mt-2">
      <button class="button is-danger is-small is-light" (click)="removeLastScore()" [disabled]="currentEnd.length === 0">
        Annuler dernière flèche
      </button>
    </div>
  </div>
</div>

<!-- Keyboard -->
<app-score-keyboard *ngIf="gameStarted && !gameFinished" (scoreSelected)="addScore($event)"></app-score-keyboard>
