<div class="target-face-container">
    <svg #targetFaceSvg [attr.viewBox]="getViewBox()" class="target-face" (touchstart)="startDrag($event)"
        (touchmove)="drag($event)" (touchend)="endDrag()">
        <!-- Target face -->
        <circle *ngFor="let zone of zones" [attr.r]="zone.r" [attr.fill]="zone.color" cx="100" cy="100" stroke="black"
            [attr.stroke-width]="zone.strokeWidth" />

        <!-- Impacts -->
        <ng-container *ngFor="let f of otherImpacts">
            <circle [attr.cx]="f.x" [attr.cy]="f.y" r="2" fill="black" />
            <text [attr.x]="f.x" [attr.y]="getTextY(f.y, 2)" text-anchor="middle" font-family="sans-serif"
                font-size="0.2rem" fill="black">{{f.arrow}}</text>
        </ng-container>

        <!-- Average -->
        <ng-container *ngFor="let im of averageImpacts">
            <circle [attr.cx]="im.x" [attr.cy]="im.y" r="3" fill="#55ff55" />
            <text [attr.x]="im.x" [attr.y]="getTextY(im.y, 3)" text-anchor="middle" font-family="sans-serif"
                font-size="0.3rem" font-weight="bold" fill="black">{{im.arrow}}</text>
        </ng-container>

        <!-- Current Impact -->
        <circle *ngIf="currentImpact" [attr.cx]="currentImpact.x" [attr.cy]="currentImpact.y" r="3" fill="white"
            stroke="black" stroke-width="1" />
    </svg>
</div>