/* You can add global styles to this file, and also import other style files */

@use "../node_modules/bulma/bulma.scss";
html {
    font-size: 18px;
}

.yellow {
  background-color: yellow;
  color: #000;
}

.red {
  background-color: red;
  color: #000;
}

.blue {
  background-color: #05c1f2;
  color: #000;
}

.black {
  background-color: #111;
  color: #fff;
}

.white {
  background-color: #fff;
  color: #000;
  border: 1px solid #ccc;
}

.grey {
  background-color: #ccc;
  color: #000;
}