<h1 class="title is-6">Jeu de Zone
  &nbsp;&nbsp;&nbsp;<fa-icon [icon]="faRotateLeft" *ngIf="gameStarted" (click)="resetGame()"
    style="color:#66d1ff;cursor:pointer;"></fa-icon>
  <fa-icon class="is-pulled-right" [icon]="faInfo" (click)="helpModalOpen = true"
    style="color:#3d7bec;cursor:pointer;"></fa-icon>
</h1>

<!-- Help -->
<div class="modal content is-size-7" [ngClass]="{'is-active': helpModalOpen}">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head p-3 is-vcentered">
      <p class="modal-card-title m-0 is-size-6">Description du jeu</p>
      <button class="delete" aria-label="close" (click)="helpModalOpen=false"></button>
    </header>
    <section class="modal-card-body">
      <p>
        Paramétrez la zone de réussite.
      </p>
      <p>
        Les volées rapportent des points en fonction du nombre de flèches dans la zone de réussite.
      </p>
      <ul>
        <li>9/9 => + 4pts</li>
        <li>8/9 => + 2pts</li>
        <li>7/9 => + 1pt</li>
        <li>6/9 => + 0pt</li>
        <li>5/9 => - 1pt</li>
        <li>4/9 et moins => - 2pts</li>
      </ul>
        <p>
          L'objectif du jeu est d'atteindre 20 points le plus rapidememnt possible en faisant des volées de 9 flèches.
        </p>
    </section>
    <footer class="modal-card-foot">
      <div class="buttons">
        <button class="button" (click)="helpModalOpen=false">Fermer</button>
      </div>
    </footer>
  </div>
</div>

<!-- Settings-->
<app-game-settings *ngIf="!gameStarted" [successZone]="successZone" (newSettings)="onNewSettings($event)"></app-game-settings>

<!-- Past games -->
<app-past-games *ngIf="!gameStarted" [localStorageItemName]="localStorageItemName" (viewGame)="loadGame($event)"
  [reloadPastGamesTrigger]="reloadPastGamesEventEmitter"></app-past-games>

<!-- Results -->
<div *ngIf="gameStarted" class="box content">
  <h2 class="subtitle is-5">Volées passées</h2>
  <table class="table is-fullwidth is-bordered is-striped is-narrow">
    <thead>
      <tr>
        <th>Volée</th>
        <th>Détails</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let end of pastEnds; index as i">
        <td>{{ i + 1 }}</td>
        <td>
          <span *ngFor="let s of end.details" class="tag m-1" [ngClass]="getScoreClass(s)">{{ s }}</span>
        </td>
        <td>{{ end.score }}</td>
      </tr>
      <tr *ngIf="pastEnds.length > 0">
        <td colspan="2">Total</td>
        <td>{{getTotalScore()}}</td>
      </tr>
    </tbody>
  </table>
  <span *ngIf="pastEnds.length > 0">({{getZonePercent()}} % en zone)</span>
  <br />
  <br />
  <!-- Current end -->
  <div *ngIf="gameStarted && !gameFinished">
    <h2 class="subtitle is-5">Volée {{ currentEndIndex + 1 }} </h2>
    <div>
      <span *ngFor="let s of currentEnd" class="tag m-1" [ngClass]="getScoreClass(s)">{{ s }}</span>
    </div>
    <div class="has-text-centered mt-2">
      <button class="button is-danger is-small is-light" (click)="removeLastScore()"
        [disabled]="currentEnd.length === 0">
        Annuler dernière flèche
      </button>
    </div>
  </div>
</div>

<!-- Keyboard -->
<app-score-keyboard *ngIf="gameStarted && !gameFinished" (scoreSelected)="addScore($event)"></app-score-keyboard>