<h2 class="title is-4">Tri de flèches <button (click)="relancer()" class="button is-danger">Relancer</button></h2>

<!-- Paramétrage -->
<div *ngIf="mode === 'parametrage'" class="box">
    <h2 class="title is-4">Paramètres</h2>

    <div class="field mb-4">
        <label>Nombre de flèches :</label>
        <input type="number" [(ngModel)]="nbFleches" min="1" inputmode="numeric" />
    </div>

    <div class="has-text-centered mt-4">
        <button (click)="validerParametrage()" class="button is-primary">Valider</button>
    </div>
</div>

<!-- Grille -->
<div *ngIf="mode != 'parametrage' && mode != 'tout'">
    <div class="grille">
        <button *ngFor="let n of getFlecheNums()" (click)="ouvrirDetail(n)" class="button" [ngClass]="flecheActive === n ? 'is-active': ''">
            {{ n }}
        </button>
    </div>
    <!-- Détail d'une flèche -->
    <div *ngIf="mode === 'detail'">
        <h3>Flèche {{ flecheActive }}</h3><fa-icon [icon]="faBackward" (click)="supprimerDerniere(flecheActive)"></fa-icon>
        <app-blason-interactif [impactMoyen]="moyenne(impactsParFleche.get(flecheActive)!)"
            [autresImpacts]="impactsParFleche.get(flecheActive)|| []"
            (nouvelImpact)="ajouterImpact(flecheActive, $event)"></app-blason-interactif>
    </div>
    <button (click)="voirTout()" class="button is-warning">Voir tout</button>
    
</div>


<!-- Voir tout -->
<div *ngIf="mode === 'tout'">
    <h3>Tous les impacts</h3>
    <app-blason-interactif [autresImpacts]="tousLesImpacts()"
        [impactMoyen]="moyenne(tousLesImpacts())"></app-blason-interactif>
    <button (click)="mode='detail'" class="button is-warning">Retour</button>
</div>
