<div class="box">
    <h2 class="title is-4">Paramètres</h2>

    <div class="field mb-4" *ngIf="successZone">
        <label class="label">Zone de réussite :</label>
        <div class="field has-addons is-justify-content-center">
            <p class="control">
                <button class="button is-small" (click)="decrementSuccessZone()">-</button>
            </p>
            <p class="control">
                <input class="input is-small has-text-centered" readonly [value]="successZone" style="width: 60px;">
            </p>
            <p class="control">
                <button class="button is-small" (click)="incrementSuccessZone()">+</button>
            </p>
        </div>
    </div>

    <div class="field mb-4">
        <label class="label">Flèches tirées par volée :</label>
        <div class="field has-addons is-justify-content-center">
            <p class="control">
                <button class="button is-small" (click)="decrementArrowsShotCount()">-</button>
            </p>
            <p class="control">
                <input class="input is-small has-text-centered" readonly [value]="arrowsPerEndShotCount"
                    style="width: 60px" />
            </p>
            <p class="control">
                <button class="button is-small" (click)="incrementArrowsShotCount()">+</button>
            </p>
        </div>
    </div>

    <div class="field mb-4" *ngIf="arrowsPerEndCount">
        <label class="label">Flèches comptées par volée :</label>
        <div class="field has-addons is-justify-content-center">
            <p class="control">
                <button class="button is-small" (click)="decrementArrowsCount()">-</button>
            </p>
            <p class="control">
                <input class="input is-small has-text-centered" readonly [value]="arrowsPerEndCount"
                    style="width: 60px" />
            </p>
            <p class="control">
                <button class="button is-small" (click)="incrementArrowsCount()">+</button>
            </p>
        </div>
    </div>

    <div class="field mb-4" *ngIf="endsCount">
        <label class="label">Nombre de volées :</label>
        <div class="field has-addons is-justify-content-center">
            <p class="control">
                <button class="button is-small" (click)="decrementEndsCount()">-</button>
            </p>
            <p class="control">
                <input class="input is-small has-text-centered" readonly [value]="endsCount" style="width: 60px" />
            </p>
            <p class="control">
                <button class="button is-small" (click)="incrementEndsCount()">+</button>
            </p>
        </div>
    </div>

    <div class="has-text-centered mt-4">
        <button class="button is-primary" (click)="saveSettings()">Démarrer</button>
    </div>
</div>